<form action="/users/createsession" method="POST">
    <input name="username">
    <input name="password">
    <button type="submit">Sign In</button>
</form>
<button formaction="/users/signup" formmethod="GET">Sign Up</button>